fastapi==0.111.0
uvicorn==0.30.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.7.4
python-dotenv==1.0.1
bcrypt==3.2.2
langchain==0.2.1
langchain-community==0.2.1
langchain-huggingface==0.0.3
langchain-google-genai==1.0.6
langchain-openai==0.1.7
psycopg2-binary==2.9.9
pgvector==0.3.2
pypandoc==1.13
langchain-text-splitters==0.2.2
sentence-transformers==3.0.1
transformers==4.44.2
torch==2.3.1
python-docx==1.1.2
numpy==1.26.4
